<%- include('./partials/header') %>

<div class="big-container">
<div id=”content-desktop” class="content-desktop">
  <div class="trending-container m-1">

   <% if (clucks.length !== 0) { %>
      <div class="card" style="width: 18rem;">
          <h4 class="card-title">Trending Clucks</h4>
          <ul class="list-group list-group-flush">

              <% let trends = {}; %>  
              <!-- Looping through each cluck entry -->
              <% for (let i = 0; i < clucks.length; i++) { %>
                <% const cluck = clucks[i].content.split(' ').join(',').split('\r\n').join(',').split(','); %>
                
                  <!-- Looping through each word in cluck content -->
                  <% for (let word of cluck) { %>
                      <!-- Finding hashtags -->
                      <% if (word.includes('#')) { %>
                        <%= console.log(word) %>
                      <!-- If word isn't in trends object yet -->
                      <% if (trends[word]) { %>
                        <% trends[word] += 1 %>
                      <% } else { %>
                        <% trends[word] = 1 %>
                      <% } %>
                  <% } %>
                <% } %>
                <% } %>
                
                <!-- Print object contents in trends -->
                <% const trendArr = Object.entries(trends); %>
                <% for (let item of trendArr) { %>
                  <li class="list-group-item"><%= item[0] %> • <%= item[1] %></li>
                <% } %>
          </ul>
      </div>
  </div>
</div>
<% } %>

<div class="clucks-container m-1">
  <% if (clucks.length === 0) { %>
  <h3>Post your first Cluck today!</h3>
  <% } else { %>

  <!-- Looping through clucks to make a card for each cluck -->
  <% for (let j = clucks.length - 1; j >= 0; j--) { %>
    <div class="card mb-3">
        <div class="card-body">
      <div class="w-25">
        <img src="<%= clucks[j].avatar %>" class="img-thumbnail rounded float-left w-25 m-1" alt="avatar">
      </div>
      <h6 class="card-title w-50 m-1">
        <%= clucks[j].username %> • <%= timeSince(clucks[j].createdAt) %></h6>
      <p class="card-text"><%= clucks[j].content %></p>
      <% if (clucks[j].image_url !== '') { %>
      <img src="<%= clucks[j].image_url %>" alt="image_url" class="w-75">
      <% } %>
    </div>
  </div>
  <% }%>

  <% }%>

  <!-- Relative time -->
  <% function timeSince(timeStamp) { %>
  <% const now = new Date(); %>
  <% secondsPast = (now.getTime() - timeStamp.getTime()) / 1000; %>
  <% if(secondsPast < 60){ %>
  <% return 'Just now'; %>
  <% } %>
  <% if(secondsPast < 3600){ %>
  <% return parseInt(secondsPast/60) + 'm ago'; %>
  <% } %>
  <% if(secondsPast <= 86400){ %>
  <% return parseInt(secondsPast/3600) + 'h ago'; %>
  <% } %>
  <% if(secondsPast > 86400){ %>
  <% day = timeStamp.getDate(); %>
  <% month = timeStamp.toDateString().match(/ [a-zA-Z]*/)[0].replace(" ",""); %>
  <% year = timeStamp.getFullYear() == now.getFullYear() ? "" :  " "+timeStamp.getFullYear(); %>
  <% return day + " " + month + year; %>
  <% } %>
  <% } %>

</div>
</div>


  <%- include('./partials/footer') %>